version: '3.8'

services:
  postgres:
    image: postgres:16.11-alpine3.23
    container_name: pay2go
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: verystrongpassword
      POSTGRES_DB: gopaydb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pay2go-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
